appnope==0.1.4
asttokens==2.4.1
backcall==0.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
html5lib==1.1
idna==3.9
ipython==8.27.0
ipython-genutils==0.2.0
jedi==0.19.1
joblib==1.4.2
matplotlib-inline==0.1.7
mccabe==0.7.0
nltk==3.9.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.18.0
pylama==8.4.1
regex==2024.9.11
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.6
stack-data==0.6.3
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
webencodings==0.5.1
